/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btnPrimary {
    @apply text-sm sm:text-base select-none block bg-sky-600 shadow-sm sm:hover:bg-sky-500  p-1 shadow-neutral-950  rounded-md duration-300 transition-colors;
  }
  .btnSecondary {
    @apply text-sm sm:text-base  select-none block bg-neutral-600 shadow-sm sm:hover:bg-neutral-500  p-1 shadow-neutral-950  rounded-md duration-300 transition-colors;
  }
  .btnError {
    @apply text-sm sm:text-base  select-none block bg-rose-600 shadow-sm sm:hover:bg-rose-500  p-1 shadow-neutral-950    duration-300 transition-colors rounded-md;
  }

  .btnIcon {
    @apply select-none block sm:hover:bg-neutral-700 rounded-md duration-300 transition-colors;
  }
  .btnText {
    @apply select-none block hover:text-neutral-300 duration-300 transition-colors;
  }
  .input {
    @apply px-4 py-2 border-opacity-60 border-neutral-600 border-[2px] text-sky-400 shadow-neutral-950 shadow-sm rounded-md bg-neutral-700 placeholder-neutral-200;
  }

  .mainContainer {
    @apply bg-neutral-800 rounded-lg border-[2px] shadow-md shadow-neutral-950 border-opacity-60 border-neutral-700;
  }
  .innerContainer {
    @apply bg-neutral-700 rounded-lg border-[2px] shadow-sm shadow-neutral-950 border-opacity-60 border-neutral-600;
  }
}

body {
  -webkit-tap-highlight-color: transparent !important;
}
body *:focus {
  @apply !outline-white -outline-offset-2;
}

/* create task animation */
.optimisticStart {
  opacity: 0;
  transform: translateY(-112px);
}

.optimisticEnd {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.4s, transform 0.4s ease-out;
}

/* create task animation */

/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0a0a0a;
}

.invisTrack::-webkit-scrollbar-track {
  background: #0a0a0a;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 5px;
}
.invisTrack::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #404040;
}
.invisTrack::-webkit-scrollbar-thumb:hover {
  background: #404040;
}
/* scrollbar */

/* smooth scaling for accordion type  elements */

.wrapper {
  display: grid;
  grid-template-rows: 0fr;
  transition: 0.5s ease-out;
  opacity: 0;
}

.wrapper.is-open {
  grid-template-rows: 1fr;
  opacity: 1;
}

.content {
  overflow: hidden;
}
/* smooth scaling for accordion type  elements */

/* loader */

.loader {
  position: relative;
  width: 250px;
  height: 250px;
  background-color: #131313;
  border-radius: 100%;
}

.loader:before,
.loader:after {
  content: "";
  border-radius: 50%;
  position: absolute;
  inset: 0;

  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.5) inset;
}
.loader:after {
  box-shadow: 0 2px 0 #38bff8 inset;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* loader */
.react-datepicker {
  background-color: r#e5e5e5ed !important;
}

.react-datepicker__header {
  background-color: #a3a3a3 !important;
}
.react-datepicker__day--selected {
  background-color: #0284c7 !important;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 640px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
}
